*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

main{
    background-color: palevioletred;
    flex-wrap: wrap;
}

h1{
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Zachary{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
}

p{
    font-weight: bold;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    background-color: lightblue;
    color: yellow;
    font-weight: 100px;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5px 20%;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    background-color: white;
}

li{
    display: inline;
    text-decoration: dotted;
    font-weight: 500;
    font-size: 26px;
    margin: 50px;
    border-style: outset;
    border-color: black;
    border-radius: 5px;
}

li:hover{
    border-style: none;
    color: green;
}

section{
    font-size: 25px;
    width: 70%;
    margin: 20px auto;
    border-bottom: 10px;
    border-left: 10px;
    border-right: 10px;
    border-top: 10px;
    background-color: red;
    text-align: center;
}

h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;

}

a{
    font-weight: 100%;
    font-size: 25px;
    color: black;
}
.zdg-picture{
    display: inline-flex;
    border-style: solid;
    border-color: pink;
    border-radius: 6%;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
}

.refactor-screenshot{
    display: inline-flex;
    border-style: solid;
    border-color: pink;
    border-radius: 6%;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
}

form{
    font-size: 15px;
    background-color: yellow;
    padding: 10px;
    
}