*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

main{
    background-color: navy;
    flex-wrap: wrap;
}

h1{
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Zachary{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
}

p{
    font-weight: bold;
    padding: 10px;
}
/* i played w the header for awhile but this code is what I went with because I wanted it to be visible and simple */
.header {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    background-color: lightblue;
    color: black;
    font-weight: 100px;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5px 20%;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    background-color: lightpink;
    
}
/* this was where I had trouble
I wanted this to display inline but it kept going to block
I still like how it looks though
main focus here was mmaking sure the li took you to that part of the page and that they are easily visible to a person visiting my page */
li{
    display: inline;
    text-decoration: dotted;
    font-weight: 500;
    font-size: 30px;
    margin: 50px;
    border-style: outset;
    border-color:solid black;
    border-radius: 5px;
}

li:hover{
    border-style: none;
    color: green;
}
/* wanted the sections to be more in the middle of the page, hence me aligning them to the center
feel there may be a more efficent way to do the border, but once I liked it I left it alone */
section{
    font-size: 25px;
    width: 70%;
    margin: 20px auto;
    border-bottom: 10px;
    border-left: 10px;
    border-right: 10px;
    border-top: 10px;
    background-color:lightblue;
    text-align: center;
}

h2{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    padding: 10px;
    

}

a{
    font-weight: 100%;
    font-size: 25px;
    color: black;
}
.zdg-picture{
    display: inline-flex;
    border-style: solid;
    border-color: white;
    border-radius: 6%;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
}
/* was playing w both the pictures for awhile and found inline-flex gave me the look I was aiming for
wanted the pictures to be prominenly on the page but not so big that they are obnoxious */
.refactor-screenshot{
    display: inline-flex;
    border-style: solid;
    border-color: black;
    border-radius: 6%;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
}
/* creating a contact me form
I think they are cool and I think mine turned out good
I didn't do to many changes to the form just size/color
 */
form{
    font-size: 15px;
    background-color:lightblue;
    padding: 15px;
    
}

#contact-me{
    align-content: center;
    padding: 15px;
    background-color: lightpink;
}
/* One of my coding friends helped me out with this part since I wanted to use logos
here I am simply adding the color and size of my social buttons
 */
.fa{
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    width: 100px;
    text-align: center;

}

.fa-github{
    color: white;
    background: black;
}

.fa-instagram{
    color: white;
    background: purple;
}

.fa-slack{
    color: white;
    background: green;
}

#top:hover{
    opacity: .5;
}

.fa:hover{
    opacity: 0.8;
}

/* all of the media screens are to make my page look how I want on different scree sizes
main problem I had was w/ the li
I want it to be inline I feel that looks better, but I can't seem to get it right, so I think it still looks good as is
 */

@media screen and (max-width: 676px){
    .zdg-picture{
        width: 200px;
    }
}

@media screen and (max-width: 676px){
    .refactor-screenshot{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1550px){
    .links li{
        width: 100%;
        display: block;
        margin: auto;
        padding: none;
        float: none;
    }
}

@media screen and (max-width: 676px){
    .links a{
        font-size: 5vw;
        margin: auto;
        display: inline;
    }
}

@media screen and (max-width: 676px){
    .header h1{
        justify-content: center;
        font-size: 14vw;
        text-align: center;
    }
}

@media screen and (max-width: 676px){
    section h2 {
        font-size: 5vw;
    }
}

@media screen and (max-width: 750px){
    #about-me p{
        font-size: 4vw;
    }
}

@media screen and (max-width: 676px){
    .fa{
        width: 20vw;
        margin: auto;
    }
}

/* definitely struggled a bit on the media screens, but after playing w it on dev tools I think that my site should 
look as I intend 
would highly recommend using dev tools to do this part and play around w it until you find what you like*/